.section--quote {
    justify-content: flex-end;
}

.section__content {
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__btns {
    height: 10%;
}

.btns--quote {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
}

.box {
    position: relative;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;

    color: var(--color__tertiary);

    position: absolute;
    z-index: 10;

    height: 24rem;
    aspect-ratio: 1/1;
}

.background {
    height: 24rem;
    aspect-ratio: 1/1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 0.5rem var(--color__tertiary);
    border-radius: 1rem;
}

.background__image {
    height: 100%;
    
}

@media (max-width: 500px) {
    .quote {
        font-size: 1rem;
        left: 0;
        top: 0;

        height: 14rem;
    }

    .background {
        height: 14rem;
    }
}