html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: relative;
} 

/* CONTROLS */
.controls {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.controls__container {
    width: 100%;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    overflow-y: scroll;

    background-color: var(--color__primary);
    padding: 1rem;
}

.controls__btn {
    color: var(--color__tertiary);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: none;
    text-align: center;

    background-color: var(--color__secondary);
    border: solid 0.3rem var(--color__tertiary);
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 6rem;

    padding: 0 1rem;
}

.controls__btn:hover {
    cursor: pointer;
}