.loading {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;
    width: 100px;
    height: 100px;
}

.loader:before {
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #9bffaf;
    animation: flip 1s infinite;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}

.hidden {
    display: none;
}

.controls {
    background-color: white;
}


.home-menu {
    position: absolute;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    border-width: thin;
    border-style: solid;
    background-color: rgb(142, 151, 117);
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.catalogue {
    min-height: 100vh;
    height: 100%;
    bottom: 2rem;
    width: 100%;
    background-color: white;
}

#landing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf2da;
    height: 100vh;
}

.basicButton {
    position: relative;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    color: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    background-color: rgb(142, 151, 117, var(--tw-bg-opacity));
    outline: none;
}

.basicButton:hover {
    background-color: rgb(74, 81, 61, var(--tw-bg-opacity));
}

.basicButton:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;

    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);


    box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color), var(--ring-shadow);

}


/* Scene buttons to interacte with objects on the scene */

.confirmActionButtonDiv {
    width: 100%;
    /* display: none; */
    justify-content: center;
    position: absolute;
    bottom: 4.5rem;
    margin-bottom: 0.5rem;
}

.confirmActionButton {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-radius: 9999px;
    background-color: rgb(142, 151, 117);

}

.cancelActionButtonDiv {
    height: 3rem;
    display: none;
    align-items: center;
    margin-left: 7rem;
    position: absolute;
    bottom: 4.5rem;
    margin-bottom: 0.5rem;
}

.cancelActionButton {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-radius: 9999px;
    background-color: rgb(250, 242, 218)
}

#targetDotDiv {
    /* display: none; */
    position: absolute;
    bottom: 47%;
    left: 50%;
}

.targetDot {
    font-size: 3rem;
    color: white;
}

#rotateLeftButtonDiv,
#rotateRightButtonDiv {
    display: none;
    height: 3rem;
    position: absolute;
    bottom: 50%;
}

#rotateLeftButtonDiv {
    margin-left: 1rem;
}

#rotateRightButtonDiv {
    right: 0;
    margin-right: 1rem;
}

.rotateActionButton {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-radius: 9999px;
    background-color: rgb(250, 242, 218)
}

#trashButtonDiv {
    display: none;
    ;
}

/* #checkButtonDiv{
    right: 0;
    margin-right: -15rem;
  } */

.danceControlDiv {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.danceButtonDiv {
    display: none;
    padding: 15px;
}

.modelControlDiv {
    position: absolute;
    bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modelButtonDiv {
    /* display: none; */
    padding: 15px;
}