
.btns--quote {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
}

.box {
    position: relative;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;

    color: var(--color__tertiary);

    position: absolute;
    z-index: 10;

    height: 24rem;
    aspect-ratio: 1/1;
}

.background {
    height: 24rem;
    aspect-ratio: 1/1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background__image {
    width: 100%;
}

@media (max-width: 500px) {
    .quote {
        font-size: 1rem;
        left: 0;
        top: 0;

        height: 14rem;
    }

    .background {
        height: 14rem;
    }
}